<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013-2024 QuartzDesk.com.
  ~ Licensed under the MIT license (https://opensource.org/licenses/MIT).
  -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         id="quartzdesk-test-quartz-v1-8-x-logback"
         version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <description>Quartz 1.8.x Test Application (Logback)</description>
  <display-name>quartzdesk-test-quartz-v1-8-x-logback</display-name>

  <!-- Start of Spring stuff -->

  <context-param>
    <description>The application context configuration used by Spring.</description>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/spring/applicationContext.xml</param-value>
  </context-param>

  <!-- Spring context loader -->
  <listener>
    <description>
      Spring context listener that loads up the application context configuration
      specified in the contextConfigLocation context parameter.
    </description>
    <display-name>Spring Context Loader Listener</display-name>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- End of Spring stuff -->

  <listener>
    <description>
      Servlet context listener that stops the Quartz scheduler and waits for all currently executing jobs to finish.
    </description>
    <display-name>Shutdown Servlet Context Listener</display-name>
    <listener-class>com.quartzdesk.test_webapps.ShutdownServletContextListener</listener-class>
  </listener>

  <!--
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	-->

  <jsp-config>

    <!-- Start of JSTL Tag Library -->
    <taglib>
       <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
       <taglib-location>/WEB-INF/tld/jstl/c.tld</taglib-location>
     </taglib>

     <taglib>
       <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
       <taglib-location>/WEB-INF/tld/jstl/fmt.tld</taglib-location>
     </taglib>

     <taglib>
       <taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
       <taglib-location>/WEB-INF/tld/jstl/fn.tld</taglib-location>
     </taglib>
    <!-- End of JSTL Tag Library -->

  </jsp-config>

</web-app>